!!! 5
%html
  %head
    %title Vinz - The Keymaster
    %link(rel="stylesheet" type="text/css" href="/css/bootstrap.min.css")
    %link(rel="stylesheet" type="text/css" href="/css/console.css")

  %body
    = yield
    %script(src="//code.jquery.com/jquery.js")
    %script(src="/js/bootstrap.min.js")
