%form(method="post" action="/login")
  = csrf_tag
  %label
    Username
    %input(type="text" name="username")
  %label
    Password
    %input(type="password" name="password")
  %input(type="submit" value="Login")
