%script(type="text/x-handlebars")
  %header.navbar.navbar-inverse.navbar-fixed-top
    .container
      .navbar-header
        %a.navbar-brand(href="/") Vinz
      .collapse.navbar-collapse
        %ul.nav.navbar-nav.navbar-right
          %li= link_to '', '/logout', method: :post, class: 'glyphicon glyphicon-log-out'

  #content.page-header
    .container
      %h1= organization.name
      %p= flash[:error]

  #contents
    {{outlet}}

%script(type="text/x-handlebars" data-template-name="index")
  {{render 'config_items' config_items}}
  {{render 'consumers' consumers}}
  {{render 'users' users}}

%script(type="text/x-handlebars" data-template-name="config_items")
  #configs
    .container
      .row
        .col-md-8
          %h2 Configs
          %table.table.table-striped
            %thead
              %tr
                %th ID
                %th Name
                %th Value
                %th
            %tbody
              {{#each item in controller}}
              %tr
                %td.col-md-1
                  {{item.id}}
                %td.col-md-3
                  {{view App.ContentEditable valueBinding="item.name"}}
                %td.col-md-3
                  {{view App.ContentEditable valueBinding="item.value"}}
                %td.col-md-1
                  <a {{action "removeConfigItem" item}} class="glyphicon glyphicon-remove-sign"></a>
              {{/each}}
              %tr
                %td
                %td
                  .input-group.input-group-sm
                    {{view Ember.TextField class="form-control" placeholder="Name" valueBinding="newName"}}
                %td
                  .input-group.input-group-sm
                    {{view Ember.TextField class="form-control" placeholder="Value" valueBinding="newValue"}}
                %td
                  <button {{action "createConfigItem"}} class="btn btn-primary"><span class="glyphicon glyphicon-plus-sign"></span> Add Item</button>


%script(type="text/x-handlebars" data-template-name="consumers")
  #consumers
    .container
      .row
        .col-md-8
          %h2 Consumers
          %table.table.table-striped
            %thead
              %tr
                %th ID
                %th Name
                %th API Key
                %th
            %tbody
              {{#each consumer in controller}}
              %tr
                %td.col-md-1
                  {{consumer.id}}
                %td.col-md-3
                  {{view App.ContentEditable valueBinding="consumer.name"}}
                %td.col-md-3
                  {{consumer.apiKey}}
                %td.col-md-1
                  <a {{action "removeConsumer" consumer}} class="glyphicon glyphicon-remove-sign"></a>
              {{/each}}
              %tr
                %td
                %td
                  .input-group.input-group-sm
                    {{view Ember.TextField class="form-control" placeholder="Name" valueBinding="newName"}}
                %td
                %td
                  <button {{action "createConsumer"}} class="btn btn-primary"><span class="glyphicon glyphicon-plus-sign"></span> Add Consumer</button>

- if user.admin?
  %script(type="text/x-handlebars" data-template-name="users")
    #users
      .container
        .row
          .col-md-8
            %h2 Users
            %table.table.table-striped
              %thead
                %tr
                  %th ID
                  %th Name
                  %th Role
                  %th API Key
                  %th
              %tbody
                {{#each user in controller}}
                %tr
                  %td.col-md-1
                    {{user.id}}
                  %td.col-md-2
                    {{view App.ContentEditable valueBinding="user.username"}}
                  %td.col-md-1
                    {{view App.ContentEditable valueBinding="user.role"}}
                  %td.col-md-3
                    {{user.apiKey}}
                  %td.col-md-1
                    <a {{action "removeUser" user}} class="glyphicon glyphicon-remove-sign"></a>
                {{/each}}
                %tr
                  %td
                  %td
                    .input-group.input-group-sm
                      {{view Ember.TextField class="form-control" placeholder="Name" valueBinding="newName"}}
                  %td
                  %td
                  %td
                    <button {{action "createUser"}} class="btn btn-primary"><span class="glyphicon glyphicon-plus-sign"></span> Add User</button>




%script(type="text/x-handlebars" data-template-name="content-editable")
  {{#if view.editMode}}
  .input-group.input-group-sm
    {{view App.TextField editModeBinding="view.editMode" valueBinding="view.value"}}
  {{else}}
  {{view.value}}
  {{/if}}

  -#- if user.admin?
    -##users
      -#%h2 Users
      -#.row
        -#.col-md-6
          -#%table.table.table-striped
            -#%thead
              -#%tr
                -#%th ID
                -#%th Username
                -#%th Role
                -#%th API Key
                -#%th
            -#%tbody
              -#- organization.users.each do |u|
                -#%tr
                  -#%td= u.id
                  -#%td= u.username
                  -#%td= u.role
                  -#%td= u.api_key.key
                  -#%td= delete_link(u)

